.purple{
    background-color: #5618FF;
}

.orange{
    background-color: #F65B24;
}

.green{
    background-color: #47FF25;
}

.yellow{
    background-color: #E8BF16;
}

.lightblue{
    background-color: #16D2E8;
}

.red{
    background-color: #E80A2C;
}
